<h1>{{title}}</h1>
<p>Welcome to KingTUT{{title}}</p>
	<ul>
		{{#each users}}
			<li><a href="/users/{{this.id}}">{{this.username}}</a></li>
		{{/each}}
	</ul>
	<!-- <h2>Login</h2> -->
	<div>
		<form action="/users/{{this.id}}"{{this.username}} method="get">
			<h2><label for='username'>Username</label></h2>
			<input type='text' name='username' required="required" /><br />
			<h2><label for='password'>Password</label></h2>
			<input type='password' name='password' required="required">
			<input type='submit' value='Login' />
		</form>
	</div>

<h3><a href="/users/">Sign up!</a></h3>
