<h1>{{user.first_name}}</h1>
<h2>User Id Page</h2>

	<div>
		<ul>
			<li>First name: {{user.first_name}}</li>
			<li>Last name: {{user.last_name}}</li>
			<li>Email: {{user.email}}</li>
			<li>Username: {{user.username}}</li>
			<li>Password: {{user.password}}</li>
			<li>Created: {{user.created_at}}</li>
			<li>Updated: {{user.updated_at}}</li>
			<li>Tuts: {{user.tuts}}</li>
		</ul>
	</div>
	<h3><a href="users/edit">Edit</a></h3>
	This page needs to redirect to the edit page.<br />
	This page also needs to list all user info dymanically.
	<div>
	<form action="/users/{{user.id}}/?_method=DELETE" method="POST">
		<input type="submit" value="Delete User"/>
	</form>
</div>



