<div class="wrapper">
	<h3>{{user.username}}'s TUTS!</h3>
		<ul>
			{{#each user.tuts}}
		<!-- 	<br /> -->
			<h3>{{this.name}}</h3>
			<li><a href="{{this.link}}">{{this.link}}</a></li>
			<br />
			<a href="/users/{{../user.id}}/tuts/{{this.id}}/edit">Edit TUT</a>
			<br />
			<br />
			<form method="POST" action="/users/{{../user.id}}/tuts/{{this.id}}?_method=DELETE">
			<input id="delete" type="submit" value="DELETE" />
			</form>
			<br />
			{{/each}}
			<a href="/users/{{user.id}}/tuts/{{tuts.id}}/new">New TUT</a>
		</ul>
</div>
<h3 class="back-btn"><a href="/users/{{user.id}}/">Back</a></h3>

