<h1>TUTS List</h1>
	<ul>
		{{#each tuts}}
			<li>{{this.tuts}}</li>
				<div>
					<form action="/users/{{../user.id}}/tuts/{{this.tuts}}?_method=DELETE" method="POST">
						<input type="submit" value="Delete Tut"/>
					</form>
				</div>
				<br />
				<!-- <a href="/users/{{this.id}}">{{this.tuts}}</a> -->
		{{/each}}
		<div>
			<a href="/users/{{user.id}}/tuts/new">Add New Tut</a>
		</div>
	</ul>


