<h2>{{user.first_name}}'s Tuts!</h2>

<ul>
	{{#each user.tuts}}
		<li><a href="/users/{{../user.id}}/tuts/{{this.id}}">{{this.name}}<br /><br /> {{this.link}}</a></li>
		<br />
	{{/each}}
	<a href="/users{{this.id}}/tuts{{this.id}}/new">New Tut</a>
</ul>
adfa
