<h2>{{user.first_name}}</h2>ERROR this page is it!
<h3>Name: {{tut.name}}</h3>
<!-- <h3>In Progress: {{tut.in_progress}}</h3> -->
<h3>Link: <a href="{{tut.link}}">{{tut.link}}</a></h3>

	<!-- <a href="/users/{{user.id}}/tuts/{{tuts.id}}/edit/">Edit TUT</a> -->

	<!-- <form action="/users/{{user.id}}/tuts/{{tuts.id}}?_method=DELETE" method="POST">
	<br />
	<input type="submit" value="Delete TUT"/>
	</form> -->





