<!-- <div class="wrapper"> -->
	<h2>{{user.username}}'s TUTs</h2>
		<h3>TUT Name: {{tut.name}}</h3>
			<h3>Link: <a href="{{tut.link}}">{{tut.link}}</a></h3>
<!-- </div> -->
<h3 class="back-btn"><a href="/users/{{user.id}}/tuts">Back</a></h3>




