<div class="wrapper">
	<h2><a href="/users/{{user.id}}/tuts">{{user.username}}</a>'s TUTs</h2>
		<h3>TUT Name: <a href="/users/{{user.id}}/tuts">{{tut.name}}</a></h3>
			<h3>Link: <a href="{{tut.link}}">{{tut.link}}</a></h3>
</div>
<h3 class="back-btn"><a href="/users/{{user.id}}/tuts">Back</a></h3>




