<h1>Edit your credentials!</h1>
<h1>{{user.username}}</h1>

<form action="/users/{{user.id}}?_method=PUT" method="POST">
	<div>
		<label for="first_name">
			<h2>First name</h2>
		</label>
		<input type="text" name="first_name" required="required" value="{{user.first_name}}"/>
	</div>
	<div>
		<label for="last_name">
			<h2>Last name</h2>
		</label>
		<input type="text" name="last_name" required="required" value="{{user.last_name}}"/>
	</div>
	<div>
		<label for="email">
			<h2 id="email">Email</h2>
		</label>
		<input type="email" name="email" required="required" value="{{user.email}}"/>
	</div>
	<br />
	<div>
		<input type='submit' value='Done!'/>
	</div>
</form>

