<h2>User Id Page</h2>
<h1>{{user.first_name}}</h1>
	<div>
		<a href="/users/{{user.id}}/edit">Edit User</a>
	</div>
	<br />
	<div>
		<form action="/users/{{user.id}}?_method=DELETE" method="POST">
			<input type="submit" value="Delete user" />
		</form>
			<br />
	</div>
	<div>
		<a href="/users/{{user.id}}/tuts/new">See tuts</a>
	</div>
		<br />
	<ul>
		<li>First Name: {{user.first_name}}</li>
		<li>Last Name: {{user.last_name}}</li>
		<li>Email: {{user.email}}</li>
		<li>Username: {{user.username}}</li>
		<li>Password: {{user.password}}</li>
		<li>Sign up date: {{user.created_at}}</li>
		<li>Updated_at: {{user.updated_at}}</li>
		<li>Tuts: {{user.tuts}}</li>
		<li>Number of tuts: {{user.tuts.length}}</li>
	</ul>
